.event-creator-container
    display: flex
    flex-direction: column
    align-items: center

.event-creator-pag-container
    position: fixed
    top: 0
    left: 228px
    right: 228px
    padding: 10px
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    background: #fff

.event-creator-pag
    font-size: 24px

.event-creator-form
    min-width: 600px
    width: 50%
    padding: 20px
    display: flex
    flex-direction: column
    background-color: #fff
    padding: 40px 15px
    border-radius: 15px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    margin: 20px auto
    height: 35rem

.event-creator-title
    width: 100%
    padding: 4px
    margin: 5px 0px
    border: 1px solid #ccc
    border-radius: 5px
::placeholder
    font-size: 12px

.event-creator-description
    width: 100%
    padding: 4px
    margin: 5px 0px
    border: 1px solid #ccc
    border-radius: 5px
::placeholder
    font-size: 12px

.event-creator-input-container
    display: flex
    align-items: center
    width: 100%
    padding: 4px
    margin-bottom: 15px

.event-creator-input
    border: 1px solid #ccc
    border-radius: 5px
    margin-bottom: 9px
    padding: 4px
    width: inherit

.event-creator-icon
    font-size: 22px
    margin-top: 0px
    margin-right: 8px

.event-creator-button
    display: block
    width: 100%
    margin-top: 15px
    background-color: #3498db
    color: #fff
    border: none
    padding: 10px 20px
    border-radius: 5px
    cursor: pointer
    &:hover
        background-color: #66bbf4

@media screen and (max-width: 768px)
    .event-creator-input-container
        flex-direction: column
        align-items: flex-start

    .event-creator-icon
        margin-right: 0
        margin-bottom: 10px
