.event-creator-container
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    padding: 20px

.event-creator-pag-container
    position: fixed
    top: 70px
    left: 250px
    right: 250px
    padding: 10px
    z-index: 2
    display: flex
    justify-content: center
    align-items: center
    background: #fff

.event-creator-pag
    font-size: 24px

.event-creator-form
    position: fixed
    background-color: #fff
    padding: 40px 15px
    border-radius: 15px
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
    width: 40rem
    margin: 60px auto
    height: 35rem

.event-creator-title,
.event-creator-description
    width: 100%
    padding: 10px
    margin: 5px 0px
    border: 1px solid #ccc
    border-radius: 5px
::placeholder
    font-size: 12px

.event-creator-input-container
    width: 100%
    padding: 10px
    display: flex
    align-items: center
    margin-bottom: 15px

.event-creator-input
    border: 1px solid #ccc
    border-radius: 5px
    margin-bottom: 9px
    padding: 10px
    width: inherit

.event-creator-icon
    font-size: 22px
    margin-top: 0px
    margin-right: 8px

.event-creator-button
    display: block
    width: 100%
    margin-top: 15px
    background-color: #3498db
    color: #fff
    border: none
    padding: 10px 20px
    border-radius: 5px
    cursor: pointer

    &:hover
        background-color: #2386c6
