@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)

.event-container
    margin: auto
    width: 40rem
    height: 23rem

.event-wrapper
    border-radius: 15px
    margin: 0 auto 20px auto
    width: 40rem
    height: 22rem
    background: #a0d4ec
    padding: 19px
    box-shadow: 0 4px 8px 0 rgba(230, 226, 226, 0.2), 0 6px 20px 0 rgba(255, 253, 253, 0.302)
    // &:hover
    //     transform: scale(1.1)
    //     transition-duration: 1s

.event-wrapper .event-row
    display: flex
    align-items: center
    padding: 10px
    // height: 35px
    // margin-bottom: 15px
    // position: relative

.event-wrapper .event-row i
    width: 30px
    height: 30px
    // background-color: #333
    // color: #fff
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    // position: absolute
    // width: 47px
    // height: 35px
    color: #383737
    // font-size: 20px
    // background: #e8e8e4
    // border: 1px solid lightgrey
    // border-radius: 5px 0 0 5px
    // display: flex
    // align-items: center
    // justify-content: center

.event-wrapper .event-row p
    margin: 0
    // height: 100%
    // width: 83%
    // padding-left: 60px
    // outline: none
    // border-radius: 5px
    // border: 1px solid lightgrey
    // size: 14px

.event-title
    font-family: Poppins
    font-size: 18px
    margin-top: 1.5rem
    background-color: transparent
    border: none

.event-description
    font-family: Courier New, Courier, monospace
    font-size: 12px
    color: black

.event-participant
    margin: -15px 32px
    font-family: Courier New, Courier, monospace
    font-size: 11px
    color: black

.event-location
    margin: 0 27px
    font-family: Courier New, Courier, monospace
    font-size: 11px
    color: black

.event-date
    margin: 0 27px
    font-family: Courier New, Courier, monospace
    font-size: 11px
    color: black

.event-button
    color: #fff
    border: none
    cursor: pointer
    display: flex
    margin: 17px
    // background-color: #3498db
    // padding: 10px
    // flex-direction: column
    // height: 18vh
    // justify-content: flex-end

.button
    margin: 0 auto
    border: solid 1px
    border-radius: 5px
    background: transparent
    width: 9rem
