.navbar
    position: fixed
    height: 100%
    width: 200px
    margin: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    background: #ebe5eb
    border-radius: 40px

.navbar .head
    width: 80%
    margin: 20px auto
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.navbar .head img
    width: 50%
    border: 1px solid #1a1a1a
    border-radius: 50px

.navbar .head h1
    justify-content: center
    text-align: center
    font-size: 18px
    color: #1a1a1a

.navbar .feed
    width: 90%
    height: 35px
    margin-top: -270px
    background: #1a1a1a
    border: 1px solid #91abbe
    border-radius: 12px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

.navbar .feed a
    color: #fff
    font-size: 14px

.navbar .feed:hover
    background: #91abbe

.navbar .listWrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 18%
    width: 100%
    margin-top: -16rem
    color: #1a1a1a
    list-style-type: none
    align-items: center
    padding: 0px

.navbar .listWrapper .list
    display: flex
    gap: 5px
    align-items: center
    justify-content: center

.navbar .listWrapper .list:hover
    scale: 1.09
    transition-duration: 500ms

.navbar .listWrapper .list a
    font-size: 15px
    font-weight: bold

.navbar .listWrapper .list i
    display: flex
    width: 20px
    height: 20px
    color: #1a1a1a
    align-items: center
    justify-content: center

.settings
    padding: 12px

    // h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] duration-300 bg-[#4267b2]
// .home header
//     position: sticky
//     top: 0
//     background-color: ghostwhite
//     width: 100%
//     height: 55px

// .home header .nav
//     width: 100%
//     box-shadow: 0 0 3px rgba( 0, 0 ,0 ,0.3)
//     background-color: ghostwhite
//     display: flex
//     justify-content: space-around
//     align-items: center
//     height: 50px

// .home__footer
//     position: sticky
//     top: calc( 100vh - 50px)
//     bottom: 0
//     width: 100%
//     height: 50px

// .home__footer-nav
//     width: 100%
//     box-shadow: 0 0 3px rgba(0,0 ,0 ,0.3)
//     background-color: ghostwhite
//     display: flex
//     justify-content: space-around
//     align-items: center
//     height: 50px
