
.home-container
    height: 100%
    min-height: 100vh
    width: 100%
    min-width: 100vw
    // margin: 0
    // padding: 0
    // display: grid
    // height: 100vh
    // width: 50%
    // margin: 0 auto

.top-container
    background-color: #fff
    color: #333
    padding: 10px
    text-align: center
    // position: fixed
    // top: 0
    // background-color: ghostwhite
    // width: 100%
    // height: 65px
    // width: 100%
    // margin: 0px
    // background-color: #f0f0f0
    // grid-column: 2 / span 2
    // grid-row: 1

.top-container .toplist-wrapper
    width: 100%
    display: flex
    height: 50px
    justify-content: space-around
    padding: 2px
    margin: 7px
    // align-items: center
    // justify-content: end
    // position: fixed
    // margin: 15px -4rem
    // display: flex
    // justify-content: center
    // padding: 0px
    // box-shadow: 0 0 3px rgba( 0, 0 ,0 ,0.3)
    // background-color: ghostwhite
    // justify-content: space-around

.top-container .toplist-wrapper .toplist
    width: 7rem
    display: flex
    gap: 5px
    align-items: center
    justify-content: center
    // border: 1px solid #91abbe
    // border-radius: 10px

.top-container .toplist-wrapper .toplist i
    display: flex
    width: 20px
    height: 20px
    color: #1a1a1a
    align-items: center
    justify-content: center

.top-container .toplist-wrapper .toplist a
    font-size: 13px

.main-content
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 20px

.sidebar-left
    width: 250px
    background-color: #f0f0f0
    padding: 10px

.nav-container
    position: fixed
    height: 100%
    width: 200px
    margin: 15px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.left-container
    height: 80%

.left-container .left-head
    width: 80%
    margin: 20px auto
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.left-container .left-head img
    width: 50%
    border: 1px solid #1a1a1a
    border-radius: 50px

.left-container .left-head h1
    justify-content: center
    text-align: center
    font-size: 18px
    color: #1a1a1a

.left-container .feed
    width: 100%
    height: 35px

    background: #1a1a1a
    border: 1px solid #91abbe
    border-radius: 12px
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

.left-container .feed a
    color: #fff
    font-size: 14px

.left-container .feed:hover
    background: #91abbe

.left-container .leftlist-wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 27%
    width: 100%
    margin-top: 5rem
    margin-bottom: 0
    color: #1a1a1a
    list-style-type: none
    align-items: center
    padding: 0px

.left-container .leftlist-wrapper .list
    display: flex
    gap: 5px
    align-items: center
    justify-content: center

.left-container .leftlist-wrapper .list:hover
    scale: 1.09
    transition-duration: 500ms

.left-container .leftlist-wrapper .list a
    font-size: 15px
    font-weight: bold

.left-container .leftlist-wrapper .list i
    display: flex
    width: 20px
    height: 20px
    color: #1a1a1a
    align-items: center
    justify-content: center

.content
    flex-grow: 1
    background-color: #fff
    padding: 20px

.sidebar-right
    width: 250px
    background-color: #f0f0f0
    padding: 10px

// .right-container
//     grid-column: 3 / span 2 // Span 2 columns from the 3rd column
//     grid-row: 2 // Display in the middle-right
//     background-color: #1a1a1a

    // h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-10px] duration-300 bg-[#4267b2]
// .home header
//     position: sticky
//     top: 0
//     background-color: ghostwhite
//     width: 100%
//     height: 55px

// .home header .nav
//     width: 100%
//     box-shadow: 0 0 3px rgba( 0, 0 ,0 ,0.3)
//     background-color: ghostwhite
//     display: flex
//     justify-content: space-around
//     align-items: center
//     height: 50px

// .home__footer
//     position: sticky
//     top: calc( 100vh - 50px)
//     bottom: 0
//     width: 100%
//     height: 50px

// .home__footer-nav
//     width: 100%
//     box-shadow: 0 0 3px rgba(0,0 ,0 ,0.3)
//     background-color: ghostwhite
//     display: flex
//     justify-content: space-around
//     align-items: center
//     height: 50px
