@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)

.main-container .my-event-container
    margin: auto
    width: 40rem
    height: 23rem
    // border-radius: 5px
    // width: 85%
    // background: #f6fff6
    // padding: 20px
    // margin-bottom: 0.8rem
    // box-shadow: rgba(192, 192, 203, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px

.my-event-form
    border-radius: 15px
    margin: 0 auto 20px auto
    width: 40rem
    height: 22rem
    background: #f2e893f7
    padding: 19px
    box-shadow: 0 4px 8px 0 rgba(230, 226, 226, 0.2), 0 6px 20px 0 rgba(255, 253, 253, 0.302)

.my-event-title
    width: 100%
    font-family: Courier New, Courier, monospace
    font-size: 18px
    font-weight: bold
    color: black
    margin-bottom: 10px
    border: none
    background: #dff3f9

.my-event-description
    width: 100%
    height: 6rem
    font-family: Courier New, Courier, monospace
    font-size: 14px
    color: black
    margin-bottom: 30px
    border: none
    background: #dff3f9

.my-event-location
    width: 100%
    height: 20px
    font-family: Courier New, Courier, monospace
    font-size: 15px
    color: black
    margin-bottom: 10px
    border: none
    background: #dff3f9

.my-event-date
    width: 100%
    height: 20px
    font-family: Courier New, Courier, monospace
    font-size: 15px
    color: black
    margin-bottom: 10px
    border: none
    background: #dff3f9

.my-event-button-container
    height: 50px
    margin-top: 62px

.my-event-event-button
    border: none
    background-color: transparent
    margin-top: 10px
