.profile-container
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px

.profile-container .image-container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.profile-container .image-container .image-wrapper
    width: 100%
    margin: 10px auto
    display: flex
    justify-content: center
    align-items: center

.profile-container .image-container .image-wrapper img
    width: 100px
    height: 100px
    border: 1px solid #fff
    border-radius: 100px

.profile-container .image-container .first-name
    width: 100%
    font-size: 9px
    display: flex
    justify-content: center

.profile-wrapper-button
    padding: 10px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

.change-name-form
    display: flex
    width: 500px
    height: 200px
    flex-direction: column
    justify-content: space-evenly
    justify-items: center

.change-name-input-wrapper
    display: flex
    flex-direction: column

.change-name-tittle
    display: flex
    height: 23px

.change-password-form
    display: flex
    width: 500px
    height: 240px
    flex-direction: column
    justify-content: space-evenly
    justify-items: center

.change-password-tittle
    display: flex
    height: 19px

.change-password-buttom-wrapper
    display: flex
    width: 100%
    margin-top: 10px
