@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

$font-size: .75rem

h1,h2,h3
    font-size: inherit

a
    color: #858585
    font-family: Poppins
    text-decoration: none

i
    font-size: 30px
    color: #676666
    &:hover
        transform: scale(1.3)
