@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap')

$font-size: .75rem

a
    text-decoration: none
    color: #000000
    font-size: 18px

i
    font-size: 40px
    color: #676666
    &:hover
        transform: scale(1.3)
