@use 'base'

*
    font-family: Poppins

// html, body, #root
//     display: grid
//     height: 100%
//     place-items: center
//     // background-image: url('../public/bg-beachSpace.png')
//     background: #0a192f

body
    // display: grid
    overflow: hidden
    // height: 100%
    // place-items: center
    background-image: url('../public/bg-beachSpace.png')
    // background: #0a192f
